<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Booking Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>


<div class="navbar">
    <div>Appointment System</div>
    <div>
        
        <a href="/user">Book</a>
        <a href="/schedule">Schedule</a>
        <a href="/logout">Logout</a>

    </div>
</div>



<div class="container">
    <h2>Book Appointment</h2>

     {% if error %}
    <div style="background:#f8d7da; color:#721c24; padding:10px; border-radius:5px; margin-bottom:15px;">
        {{ error }}
    </div>
    {% endif %}

    <form method="POST" action="/book/{{ business_id }}">
        <input type="text" name="name" placeholder="Enter your name">
        <input type="date" name="date">
        <input type="time" name="time">

        <textarea name="description" placeholder="Enter appointment details"></textarea>
        <button type="submit">Book Appointment</button>
    </form>
</div>

</body>
</html>