<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h2> Appointment System Login</h2>
<form method="POST" action="/">
    <label>Username:</label>
    <input type="text" name="username" required><br><br>

    <label>Passowrd:</label>
    <input type="text" name="password" required><br><br>

    <button type="submit">Login</button>

</form>
<p>Don't have an account? <a href="/register">Register here</a></p>
{% if error %}
    <p style="color:red;">{{ error }}</p>
{% endif %}
</body>    
</html>