<!DOCTYPE html>
<html>
<head>
    <title>Schedule</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h2>Appointments</h2>

<h2 style="text-align:center;">Appointments</h2>

<table>
<tr>
    <th>Name</th>
    <th>Date</th>
    <th>Time</th>
    <th>Action</th>
</tr>

{% for appt in appointments %}
<tr>
    <td>{{ appt[1] }}</td>
    <td>{{ appt[2] }}</td>
    <td>{{ appt[3] }}</td>
    <td>
        <form method="POST" action="/delete/{{ appt[0] }}">
            <button class="delete-btn" onclick="return confirm('Are you sure?')">
                Delete
            </button>
        </form>
    </td>
</tr>
{% endfor %}
</table>

</body>
</html>